<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Loopback</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='agregar.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Agregar Loopback</h1>
    <form id="agregarForm" method="post" action="{{ url_for('post_loopback') }}">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="ip">IP:</label>
        <input type="text" id="ip" name="ip" required>
        <label for="mascara">Máscara:</label>
        <input type="text" id="mascara" name="mascara" required>
        <label for="descripción">Descripción:</label>
        <input type="text" id="descripción" name="descripción" required>
        <button type="submit">Agregar</button>
    </form>

    <script>
    $(document).ready(function() {
        $('#agregarForm').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                dataType: 'json',
                success: function(response) {
                    alert(response.message);
                    if (response.status === 'success') {
                        window.location.href = "{{ url_for('index') }}";
                    }
                },
                error: function(response) {
                    alert('Error: ' + response.responseJSON.message);
                }
            });
        });
    });
    </script>
</body>
</html>
